body {
    font: 100.01% "Fontin Sans", Fontin-Sans, "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana, Helvetica, sans-serif;
    color: #000;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
}

#asi_app{
	width: 960px;
	margin: 0 auto;
}

#asi_dl_label{
}

#asi_dl_slider{
	width: 420px;
	margin: 0 auto;
}

#asi_bar_grafico,
#asi_bar{
    margin: 0 auto;
}

p {
    text-align: left;
    margin: .5em 2em;
}

#asi_returns_meta{
	float: left;
	width: 315px;
}

#asi_returns_bar{
	float: right;
	width: 640px;
}

#asi_returns{
	float: right;
}
#asi_dl{
	float: left;
}

