body {
    font: 100.01% "Fontin Sans", Fontin-Sans, "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana, Helvetica, sans-serif;
    color: #000;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
}
#asi_ig_slider{
	width: 640px;
	margin: 0 auto;
}

#asi_ig_bar_grafico,
#asi_ig_bar{
    margin: 0 auto;
}
p {
    text-align: left;
    margin: .5em 2em;
}

